name: Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  testing:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        go-version: ['1.16', '1.17', '1.18']
        
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    - name: Test
      run: go test -cover -v

    - name: Bench
      run: go test -bench .

    - name: Bench with race detection
      run: go test -race -bench .
