name: Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  testing:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        go-version: ['1.23', '1.24', '1.25']
        
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}

    - name: Test
      run: go test -cover -v

    - name: Fuzzing
      run: go test -fuzz=FuzzRecvFrame -fuzztime=10s

    - name: Bench
      run: go test -bench . -benchmem

    - name: Bench with race detection
      run: go test -race -bench . -benchmem
